{# templates/author/showAuthor.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Author Details</title>
</head>
<body>
<h1>Author Details</h1>

<img src="{{ asset(author.picture) }}" alt="{{ author.username }}">

<p>Name: {{ author.username }}</p>
<p>Email: {{ author.email }}</p>
<p>Number of Books: {{ author.nb_books }}</p>
</body>
</html>
